In [1]:
from nozzle.table_registry import TableRegistry
from nozzle.table_registry_dynamic import SessionManager

In [2]:
ctx = SessionManager.initialize_session()

In [3]:
# Autocomplete and reflection of column names
TableRegistry.preprocessed_event_dai_approval.columns.block_num

'block_num'

In [4]:
from examples.daily_lusd_transfers import daily_lusd_transfers_view

In [21]:
view = daily_lusd_transfers_view(start_block=15000000, end_block=15100000)
result = view.execute()

Running test run (event preprocessing queries limited to 1000 records)
<function daily_lusd_transfers_view.query.<locals>.df_operations at 0x7fce35c86520>
daily_lusd_transfers_view run data saved to data/daily_lusd_transfers_view/15000000_15100000.parquet
Table daily_lusd_transfers_view registered with 19192 rows
                                       sender                       day  \
0  0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1 2023-06-29 00:00:00+00:00
1  0x0000000000000000000000000000000000000000 2023-07-06 00:00:00+00:00
2  0x4e0924d3a751be199c426d52fb1f2337fa96f736 2023-06-29 00:00:00+00:00
3  0x2291f52bddc937b5b840d15e551e1da8c80c2b3c 2023-07-06 00:00:00+00:00
4  0xfd24f6f7116f3c06bdb241c66782543ba42f3e0a 2023-08-01 00:00:00+00:00

   transfer_count  avg_value_lusd
0               4  109639516.1612
1              52   89965827.3200
2              16   87779015.7730
3               1   80000000.0000
4               6   71999416.8265

In [9]:
# You can also use the TableRegistry autocomplete to view all available tables and columns
TableRegistry.daily_lusd_transfers_view.columns.__dict__

mappingproxy({'__module__': 'nozzle.table_registry',
              'sender': 'sender',
              'day': 'day',
              'transfer_count': 'transfer_count',
              'avg_value_lusd': 'avg_value_lusd',
              '__dict__': <attribute '__dict__' of 'columns' objects>,
              '__weakref__': <attribute '__weakref__' of 'columns' objects>,
              '__doc__': None})

In [15]:
import pandas as pd
df_pd = result.to_pandas()
df_pd.head()

,sender,day,transfer_count,avg_value_lusd
0,0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1,2023-06-29 00:00:00+00:00,4,109639516.1612
1,0x0000000000000000000000000000000000000000,2023-07-06 00:00:00+00:00,52,89965827.3200
2,0x4e0924d3a751be199c426d52fb1f2337fa96f736,2023-06-29 00:00:00+00:00,16,87779015.7730
3,0x2291f52bddc937b5b840d15e551e1da8c80c2b3c,2023-07-06 00:00:00+00:00,1,80000000.0000
4,0xfd24f6f7116f3c06bdb241c66782543ba42f3e0a,2023-08-01 00:00:00+00:00,6,71999416.8265

In [16]:
df_pl.select('total_daily_lusd_transfer_value').count()

shape: (1, 1)
┌────────────────┐
│ avg_value_lusd │
│ ---            │
│ u32            │
╞════════════════╡
│ 19192          │
└────────────────┘

In [11]:
# Analyze the results
import polars as pl
df_pl = pl.DataFrame(result.to_pandas())
df_pl.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────────┬────────────────┬────────────────┐
│ sender                          ┆ day                     ┆ transfer_count ┆ avg_value_lusd │
│ ---                             ┆ ---                     ┆ ---            ┆ ---            │
│ str                             ┆ datetime[ns, UTC]       ┆ i64            ┆ decimal[13,4]  │
╞═════════════════════════════════╪═════════════════════════╪════════════════╪════════════════╡
│ 0xb4fb31e7b1471a8e52dd1e962a28… ┆ 2023-06-29 00:00:00 UTC ┆ 4              ┆ 109639516.1612 │
│ 0x0000000000000000000000000000… ┆ 2023-07-06 00:00:00 UTC ┆ 52             ┆ 89965827.3200  │
│ 0x4e0924d3a751be199c426d52fb1f… ┆ 2023-06-29 00:00:00 UTC ┆ 16             ┆ 87779015.7730  │
│ 0x2291f52bddc937b5b840d15e551e… ┆ 2023-07-06 00:00:00 UTC ┆ 1              ┆ 80000000.0000  │
│ 0xfd24f6f7116f3c06bdb241c66782… ┆ 2023-08-01 00:00:00 UTC ┆ 6              ┆ 71999416.8265  │
└─────────────────────────────────┴─────────────────────────┴────────────────┴────────────────┘

In [14]:
df_pl.select('total_daily_lusd_transfer_value').count()

shape: (1, 1)
┌────────────────┐
│ avg_value_lusd │
│ ---            │
│ u32            │
╞════════════════╡
│ 19192          │
└────────────────┘